[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "simde-no-tests"]
	path = simde-no-tests
	url = https://github.com/simd-everywhere/simde-no-tests.git
